<!DOCTYPE html>
<html>
<head>
    <title>Companies Hiring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Top Companies Hiring Freshers</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Package</th>
            <th>Apply</th>
        </tr>

        <tr>
            <td>Infosys</td>
            <td>System Engineer</td>
            <td>4 LPA</td>
            <td>
            <a href="/apply">
    <button>Apply</button>
</a>
</td>
        </tr>

        <tr>
            <td>TCS</td>
            <td>Software Developer</td>
            <td>4.5 LPA</td>
            <td>
            <a href="/apply">
    <button>Apply</button>
</a>
</td>
        </tr>

        <tr>
            <td>Wipro</td>
            <td>Project Engineer</td>
            <td>4.2 LPA</td>
            <td>
            <a href="/apply">
    <button>Apply</button>
</a>
</td>
        </tr>

        <tr>
            <td>Accenture</td>
            <td>Associate Engineer</td>
            <td>4.6 LPA</td>
            <td>
            <a href="/apply">
    <button>Apply</button>
</a>
</td>
        </tr>

        <tr>
            <td>Cognizant</td>
            <td>Programmer Analyst</td>
            <td>4.5 LPA</td>
            <td>
            <a href="/apply">
    <button>Apply</button>
</a>
</td>

        </tr>

    </table>

    <br>

    <a href="/dashboard" class="back-btn">
    ⬅️ Back to Dashboard
</a>
</body>
</html>