<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="welcome-card">
    <h1>🎓 CAMPUS CONNECT</h1>
    <p>CONNECTING STUDENTS WITH CAREER OPPORTUNITIES</p>
</div>

</div>

</div>

<div class="card">

    <h2>📋 Jobs</h2>

    <p>Browse available jobs</p>

    <a href="/jobs">
        <button>View Jobs</button>
    </a>

</div>

<div class="card">

    <h2>🏢 Companies</h2>

    <p>Explore hiring companies</p>

    <a href="/companies">
        <button>View Companies</button>
    </a>

</div>
<div class="card">

    <h2>👤 My Profile</h2>

    <p>View and manage profile</p>

    <a href="/profile">
        <button>My Profile</button>
    </a>

</div>

<div class="card">

    <h2>📄 Resume</h2>

    <p>Upload your latest resume</p>

    <a href="/uploadresume">
        <button>Upload Resume</button>
    </a>

</div>

<div class="card">

    <h2>📝 Applications</h2>

    <p>Track applied jobs</p>

    <a href="/applications">
        <button>My Applications</button>
    </a>

</div>

<div class="card">

    <h2>🚪 Logout</h2>

    <p>Sign out from account</p>

    <a href="/">
        <button>Logout</button>
    </a>

</div>
</div>
<footer>

    <hr>

    <p>
        © 2026 CAMPUS CONNECT | STUDENT PLACEMENT PORTAL
    </p>

</footer>
</body>
</div>
</html>