<!DOCTYPE html>
<html>
<head>
    <title>Campus Connect</title>
    <link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>
<div class="hero-section">

    <h1> CAMPUS CONNECT</h1>

    <p class="tagline">
        CONNECTING STUDENTS WITH CAREER OPPURTUNITIES
    </p>

    <p class="description">
        A MODERN PLACEMENT PORTAL HELPING STUDENTS DISCOVER OPPURTUNITIES,
        APPLY FOR JOBS, AND CONNECT WITH RECRUITERS.
    </p>

    <a href="/register">
        <button>GET STARTED</button>
    </a>

    <a href="/login">
        <button>STUDENT LOGIN</button>
    </a>

    <div class="dashboard-grid">

    <div class="card">
        <h2>👨‍🎓 STUDENT PORTAL</h2>
        <p>CREATE PROFILES, UPLOAD RESUMES, AND APPLY FOR OPPURTUNITIES.</p>
    </div>

    <div class="card">
        <h2>🏢 COMPANY MANAGEMENT</h2>
        <p>MANAGE COMPANIES AND PLACEMENT OPPORTUNITIES EFFICIENTLY.</p>
    </div>

    <div class="card">
        <h2>📊 PLACEMENT TRACKING</h2>
        <p>TRACK APPLICATIONS, STUDENTS, AND RECRUITMENT PROGRESS.</p>
    </div>

    <div class="dashboard-grid">

    <div class="card">
        <h1>100+</h1>
        <p>STUDENTS REGISTERED</p>
    </div>

    <div class="card">
        <h1>25+</h1>
        <p>COMPANIES CONNECTED</p>
    </div>

    <div class="card">
        <h1>500+</h1>
        <p>APPLICATIONS PROCESSED</p>
    </div>

</div>

</div>

</div>
<body>
    <footer class="footer">

    <p>© 2026 CAMPUS CONNECT </p>

    <a href="/adminlogin" style="font-size:14px;">
    ADMIN ACCESS
</a>

</footer>
</body>
</html>